{% extends "base.html.twig" %}

{% block title %} {{ parent()}} | Back-office {% endblock %}

{% block h1 %}Back-office{% endblock %}

{% block body %}

<div class="row">

<a class="bg-info p-4 text-center col-md-6 text-white" href="{{path('categorie_afficher')}}"> Gestion des catégories</a>
<a class="bg-danger p-4 text-center col-md-6 text-white" href="{{path('annonce')}}"> Gestion des annonces</a>
</div>



{% endblock %}


