{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/accueil.css") }}">
{% endblock %}

{% block h1 %}Accueil{% endblock %}
{% block body %}
        <div class="col-md-6 mx-auto ">
			<label for="exampleFormControlInput1" class="form-label"></label>
			<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Que recherchez vous?">
		</div>







{% endblock %}






{% block javascripts %}{% endblock %}